<!-- Header -->
<div class="site-section site-section-sm site-blocks-1" data-aos="fade">
  <div class="container">
  <div class="row pt-5">
                <div class="col-md-6">
                    <div>
                        <figure>
                            <img src="/assets/images/products/glasses_1.jpg" alt="Image placeholder" class="img-fluid">
                            {# <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                                <span class="ion-md-play"></span></a> #}

                        </figure>
                    </div>
                </div>
                
                <div class="col-md-6">

                    {% for item in featured_products %}
         
                          <h1 class="text-black">{{item.title}}</h1>
                          <div class="intro-text text-center text-lg-left">
                            <p class="mb-4">
                              {{item.description}}
                            </p>
                            <p>
                              <a href="shop.html" class="btn btn-sm btn-primary">Shop Now</a>
                            </p>
                          </div>
                        
                    {% endfor %}

                </div>
            </div>
    
  </div>
</div>
