<!-- Navigation -->
<header class="site-navbar" role="banner">
  <div class="site-navbar-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
          <!-- <form action="" class="site-block-top-search">
            <span class="icon icon-search2"></span>
            <input type="text" class="form-control border-0" placeholder="Search" />
          </form> -->
          <a href="{{instagram_url}}" target="_blank"><span class="icon icon-instagram"></span></a>
        </div>

        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
          <a href='/'><img src="/assets/images/logo/logo_large.jpg" height="100px" /></a>
        </div>

        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
          <div class="site-top-icons">
            <ul>
              <!-- <li>
                <a href="{{facebook_url}}" target="_blank"><span class="icon icon-facebook"></span></a>
              </li> -->
              <!-- <li><a href="#"><span class="icon icon-heart-o"></span></a></li> -->
              <!-- <li>
                <a href="{{instagram_url}}" class="site-cart" target="_blank">
                  <span class="icon icon-instagram"></span>
                </a>
              </li> -->
              <li>
                <a href="cart.html" class="site-cart">
                  <span class="icon  icon-shopping_cart"></span>
                  <span class="count" id="cart_count" style="visibility:hidden"></span>
                </a>
              </li>
              <li class="d-inline-block d-md-none ml-md-0">
                <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <!-- <li class="has-children active">
            <a href="index.html">Home</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li class="has-children">
                <a href="#">Sub Menu</a>
                <ul class="dropdown">
                  <li><a href="#">Menu One</a></li>
                  <li><a href="#">Menu Two</a></li>
                  <li><a href="#">Menu Three</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <!-- <li class="has-children">
            <a href="about.html">About</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
            </ul>
          </li> -->
        <!-- <li class="has-children">
          <a href="index.html">Eyeglasses</a>
          <ul class="dropdown">
            <li class="has-children">
              <a href="#">Women</a>
              <ul class="dropdown">
                <li><a href="#">Ruby</a></li>
                <li><a href="#">Cindy</a></li>
                <li><a href="#">Laura</a></li>
                <li><a href="#">Arielle</a></li>
                <li><a href="#">Shaunelle</a></li>
                <li><a href="#">Kylie</a></li>
                <li><a href="#">Wisdom</a></li>
                <li><a href="#">Muse X Richieann</a></li>
                <li><a href="#">Andrea</a></li>
                <li><a href="#">Kris</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Men</a>
              <ul class="dropdown">
                <li><a href="#">Port</a></li>
                <li><a href="#">Kerry</a></li>
                <li><a href="#">Skip</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Children</a>
              <ul class="dropdown">
                <li><a href="#">Brice</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <li><a href="shop.html">Shop</a></li>
        <!-- <li><a href="#">Catalogue</a></li> -->
        <!-- <li><a href="#">New Arrivals</a></li> -->
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>