<!-- index.nunjucks -->
{% extends "layout.njk" %}
{% set username = "rb001" %}
{% block content %}

    <!-- Page Content -->
    <header id="hero" class="bg-success py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-8">

                    {# <p class="lead">Store</p> #}
                    <h1 class="display-4 text-white mt-5 py-5 mb-2">
                        Bath products
                    </h1>

                </div>
            </div>
        </div>
    </header>
    <div class="container">

        <div class="row">

            {% for product in products %}
                {% if product.id.toLowerCase() == username %}
                    <div class="col-md-4 my-4">
                        <div class="card h-100">
                            {% if product.photo == "" %}
                                <a href="#"><img class="card-img-top" src="/assets/images/products/placeholder-green.jpg" alt=""/></a>
                            {% else %}
                                <a href="#"><img class="card-img-top" src="{{product.photo}}" alt=""/></a>
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{product.title}}</a>
                                </h4>
                                {# <h5>{{product.price}}</h5> #}
                                <form class="form-inline" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                    <input type="hidden" name="cmd" value="_xclick">
                                    <input type="hidden" name="business" value="spaescentials@gmail.com">
                                    <input type="hidden" name="item_name" value="{{product.name}}">
                                    <input type="hidden" name="item_number" value="Imoro-">
                                    {# <input type="hidden" name="amount" value="23.00"> #}
                                    <select class="form-control" name="amount">
                                        {# <option value="25">4oz $25</option>
                                        <option value="35">8oz $35</option> #}
                                        {% for item in product.price|split(",") %}
                                            <option value="{{ item | replace(r/^[^$]*/,'')|replace('$','') }}">{{item}}</option>
                                            {# <option value="{{ item | replace(r/\$.*/,'') }}">{{item}}</option> #}
                                        {% endfor %}
                                    </select>
                                
                                    <input type="hidden" name="currency_code" value="USD">
                                    <button type="submit" name="submit" class="btn btn-primary">Buy Now</button>
                                </form>
                                <p class="card-text">
                                    {{product.description}}
                                </p>
                            </div>
                            <div class="card-footer">
                               
                                <button type="button" class="openModal btn btn-secondary" value="{{product.id}}">Learn More</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <section id="disclaimer" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Disclaimer</h2>
                        <p>Our products are not intended to diagnose, treat, cure or prevent any disease nor are they edible. Be aware of ingredients that you may have sensitivity to, if you’re allergic to a plant or flow chances are you will be sensitive to the essential oil of said plant or flower including citrus. We do offer coconut oil and shea butter free options, just send a note with your order or send us an email with your preferences.</p>
                        <p>Place a small amount product on clean skin over a 24hr period to patch test for sensitivity if unsure. Discontinue use and consult a physician if irritation occurs</p>
                        <p>Due to health and hygienic policies, no refunds or returns will be offered on any bath and body products if the seal has been damaged or broken. Please be sure to read all ingredients prior to purchasing and if you have any questions on the product, please ask before purchasing. We are happy to discuss the ingredients list but will not disclose the recipe in full.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    
    <!-- /.container -->

{% endblock %}