<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="index.html">Home</a>
          <span class="mx-2 mb-0">/</span>
          <strong class="text-black">Cart</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">

          <div id="empty_cart_notice" style="display:none">
            <div class="alert alert-primary" role="alert">
              <span class="icon icon-info-circle"></span>  Your cart is empty. Please browse the <a href="shop.html">Shop</a> page to find a product that you like!
            </div>
          </div>

            <table id="shopping-cart" class="table table-bordered">
              <thead>
                <tr>
                  {# <th class="product-thumbnail">Image</th> #}
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  {# <th class="product-total">Total</th> #}
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                {# <tr>
                  <td class="product-thumbnail">
                    <img src="/assets/images/cloth_1.jpg" alt="Image" class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">Top Up T-Shirt</h2>
                  </td>
                  <td>$49.00</td>
                  <td>
                    <div class="input-group mb-3" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                      </div>
                      <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                      </div>
                    </div>

                  </td>
                  <td>$49.00</td>
                  <td>
                    <a href="#" class="btn btn-primary btn-sm">X</a>
                  </td>
                </tr> #}

                
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            {# <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#shippingModal">Add Delivery ($20)</button>
            </div> #}
            {# <div class="col-md-6">
              <a href="shop.html" class="btn btn-outline-primary btn-sm btn-block">Add Prescription</a>
            </div> #}
            {# <div class="col-md-6">
              <a href="shop.html" class="btn btn-outline-primary btn-sm btn-block">Back to Shopping</a>
            </div> #}
          </div>
          {# <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Delivery Available</label>
              <p>Delivery is available at an additional $20 BBD</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm">Apply Coupon</button>
            </div>
          </div> #}
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong id="sub_total" class="text-black"></strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong id="final_total" class="text-black"></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-lg py-3 btn-block" id="checkout-button">Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Shipping Modal -->
      <div class="modal fade" id="shippingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Shipping Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form onsubmit='return saveShippingInfo(this)'>

                        <div class="p-3">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_fname" class="text-black">First Name
                                        <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_fname" name="shippingform_fname" value="Shannon"  required/>
                                </div>
                                <div class="col-md-6">
                                    <label for="c_lname" class="text-black">Last Name
                                        <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_lname" name="shippingform_lname" value="Clarke" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_email" class="text-black">Email
                                        <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="c_email" name="shippingform_email" value="email@email.com" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_subject" class="text-black">Telephone
                                    </label>
                                    <input type="text" class="form-control" id="c_telephone" name="shippingform_telephone" value="2461234567">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_subject" class="text-black">Mailing Address
                                    <span class="text-danger">*</span></label></label>
                                    <input type="text" class="form-control" id="c_address" name="shippingform_address" value="Turning Hall" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_message" class="text-black">Additional Instructions
                                    </label>
                                    <textarea id="c_message" cols="30" rows="7" class="form-control" name="shippingform_instructions">Go down the road</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
            {# <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div> #}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}