<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  {% include "partials/hero.njk" %}

  <!-- Page Content -->
  <div class="site-section site-section-sm site-blocks-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4 mb-5">
          <h2>Why shop with us?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
          <div class="icon mr-4 align-self-start">
            <span class="icon-truck"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Shipping</h2>
            <p>{{shipping}}</p>
            {# <p>Your vision and your business is important to us. With our partners' laboratories, expert professional staff, and frame stock that are stored in-house, we can provide you not only with high quality glasses, but also with prompt processing times. By cutting out the middle man, we can produce your glasses and ship them to you in the shortest time span possible – all across the globe. </p> #}
          </div>
        </div>
        <div class="col-md-6 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon mr-4 align-self-start">
            <span class="icon-refresh2"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Returns</h2>
            <p>{{returns}}</p>
            {# <p>Sunnies By Richie aims to provide you a perfect pair of eyeglasses at the best price. If you have any problems, please feel free to contact us. Our customer service will offer you a reasonable solution for all kinds of problems with the glasses in 10 days from the date you receive the glasses. Two weeks warranty for manufactures defects only.</p> #}
          </div>
        </div>
        {# <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
          <div class="icon mr-4 align-self-start">
            <span class="icon-help"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Customer Support</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div> #}
      </div>
    </div>
  </div>

  {# <div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Clearance Items</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="nonloop-block-3 owl-carousel">
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_1.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_2.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_3.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_4.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_5.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {# <div class="site-section block-8">
    <div class="container">
      <div class="row justify-content-center  mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Big Sale!</h2>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-7 mb-5">
          <a href="#"><img src="/assets/images/products/collection_1.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
        </div>
        <div class="col-md-12 col-lg-5 text-center pl-md-5">
          <h2>
            <a href="#">50% less in all items</a>
          </h2>
          <p class="post-meta mb-4">By
            <a href="#">Richieann</a>
            <span class="block-8-sep">&bullet;</span>
            September 3, 2018</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p>
          <p>
            <a href="shop.html" class="btn btn-primary btn-sm">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div> #}

  <div class="site-section site-blocks-2">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center py-4">
          <h2>Signature Collections</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
          <a class="block-2-item" href="shop.html?category='women'">
            <figure class="image">
              <img src="/assets/images/collections_women.jpeg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Women</h3>
            </div>
          </a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <a class="block-2-item" href="shop.html?category='men'">
            <figure class="image">
              <img src="/assets/images/collections_men.jpeg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Men</h3>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <a class="block-2-item" href="shop.html?category='children'">
            <figure class="image">
              <img src="/assets/images/collections_children.jpeg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Children</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Blog</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="nonloop-block-3 owl-carousel">
          {% for item in blog %}
                <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="{{item.photo}}" alt="" height="200" >
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="/blog.html?id={{item.publishedOn}}">{{item.title}}</a>
                  </h3>
                  <p class="mb-0">{{item.body.slice(0,100)}}</p>
                  <a href="blog.html?id={{item.publishedOn}}" class="text-primary font-weight-bold">Read More</a>
                </div>
              </div>
            </div>
              {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
  </div>

  {# <div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Best Sellers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="nonloop-block-3 owl-carousel">
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_1.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_2.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_3.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_4.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_5.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {# {% include "partials/contactform.html" %} #}
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}