<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
      
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" id="item_image" src="assets/images/notfound.png" alt=""/>
          </div>
          <div class="col-md-6">
            <h2 class="text-black" id="item_title"></h2>
            <h4 id="item_category"></h4>
            <p><span id="item_id"></span></p>
            
            <h5>Shipping Info</h5>
            <p id="item_shipping"></p>
            {# <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p> #}
            <p><strong class="text-primary h4">$ <span id="item_price"></span> <span id="item_currency"></span></strong></p>

            {# <div class="mb-1 d-flex">
              <label for="option-sm" class="d-flex mr-3 mb-3">
                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Clear</span>
              </label>
              <label for="option-md" class="d-flex mr-3 mb-3">
                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Leopard</span>
              </label>
            </div> #}

            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input type="text" id="item_quantity" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>

            </div>
            <p>
            {# <a href="cart.html" class="buy-now btn btn-sm btn-primary">Add To Cart</a> #}
              <a href="prescriptions.html" style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em;margin-right:12px">
                  Choose Lens
              </a>
              <button style="border-color:#6772E5;color:#6772E5;padding:8px 12px;border-radius:4px;font-size:1em"
                  id="add-to-cart" onClick="addToCart()" role="link">
                  Add to Cart
              </button>
            </p>

            <div id="error-message"></div>

          </div>
        </div>
        
        
      </div>
    </div>

    <script>

      function getUrlVars() {
          var vars = {};
          var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
              vars[key] = value;
          });
          return vars;
      }

      var url_param = getUrlVars()['id'].replace('%20','-').replace('#/','').toLowerCase()

      console.log('url id',url_param)

      var products = JSON.parse(localStorage.getItem('products'))
      {# console.log('stored products', products) #}
      console.log('current product', products[url_param])

      document.getElementById('item_id').innerHTML = products[url_param].id.replace(' ','-').toLowerCase()
      document.getElementById('item_title').innerHTML = products[url_param].title
      document.getElementById('item_category').innerHTML = products[url_param].category
      document.getElementById('item_shipping').innerHTML = products[url_param].shipping
      document.getElementById('item_price').innerHTML = products[url_param].price
      document.getElementById('item_currency').innerHTML = products[url_param].currency
      document.getElementById('item_image').src = products[url_param].photo

    </script>

{% endblock %}