<!DOCTYPE html>
<html lang="en">

    {% include "partials/header.html" %}

    <body>

        {% set founder_name = siteinfo[0].bioname %}
        {% set founder_bio = siteinfo[0].bio %}
        {% set founder_photo = siteinfo[0].biophoto %}
        {% set mission = siteinfo[0].mission %}
        {% set vision = siteinfo[0].vision %}
        {% set description = siteinfo[0].description %}
        {% set telephone = siteinfo[0].telephone %}
        {% set company_email = siteinfo[0].email %}
        {% set company_address = siteinfo[0].address %}
        {% set logo = siteinfo[0].logo %}
        {% set facebook_url = siteinfo[0].socialmedia.facebook %}
        {% set twitter_url = siteinfo[0].socialmedia.twitter %}
        {% set instagram_url = siteinfo[0].socialmedia.instagram %}

        <div class="site-wrap">
            {% include "partials/nav.html" %}

            {% block content %}{% endblock %}

            {% include "partials/footer.njk" %}
        </div>

        <!-- Bootstrap core JavaScript -->

        {# <script src="/assets/js/bootstrap.bundle.min.js"></script> #}
        <script src="/assets/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/js/jquery-ui.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/aos.js"></script>

        <script src="/assets/js/main.js"></script>

        <script>

            var items = [];
            var products = [];
            $.getJSON("/assets/data/data.json", function (data) {

                // console.log(data);
                $.each(data, function (key, val) {
                    items.push(data)
                });

                console.log(items)
                products = items[0].products;
                console.log(products)
            });

            var infoModal = $("#myModal");
            $(".openModal").on("click", function () {
                console.log(this.value);
                var product_id = parseInt(this.value) - 1
                console.log(products[product_id])
                // htmlData = $(this)
                //   .find(".profile")
                //   .html();
                infoModal
                    .find(".modal-title")
                    .html(products[product_id].name);
                infoModal
                    .find(".modal-description")
                    .html(products[product_id].ingredients);
                infoModal
                    .find(".product-directions")
                    .html(products[product_id].directions);
                infoModal
                    .find(".product-disclaimer")
                    .html(products[product_id].disclaimer);
                infoModal.modal("show");
                return false;
            });
        </script>
    </body>
</html>